extends ../_layout

block vars
  - var title = __('Signup')
  - var description = __('Create a free account, to save your progress data and help us personalise our content.')
  - var styles = ['/accounts.css']
  - var scripts = ['/accounts.js']

block main
  .container.narrow
    h1 #[x-icon(name="user" size=54)] #{__('Create New Account')}
    +flash(messages)

    if oAuthProviders.length
      .btn-row.text-center
        for p in oAuthProviders
          a.btn.btn-large(href=`/auth/${p.id}` class=p.id) #[x-icon(name=p.id size=28)] #{p.name}
      hr

    form(method="POST").form-large.form-min-height
      input(type="hidden" name="_csrf" value=_csrf)

      .form-row
        input(name="first" autocomplete="fname" placeholder=__("First Name"))
        input(name="last" autocomplete="lname" placeholder=__("Last Name"))

      label.form-field
        input(name="email" type="email" :bind="email" placeholder=__("Email Address") autocomplete="email")
        .form-error(:if="emailError === 'duplicate'")!= __('There already exists an account with this email address. Please sign in instead.')
        .form-error(:if="emailError === 'invalid'")= __('This email address is not valid.')

      x-password

      label.form-field
        select(name='country' required)
          for c in countries
            option(value=c.id, selected=(c.id === country))= c.name
        span.placeholder= __('Country')

      label.form-field
        input(name="birthday" type="date" :bind="birthday" placeholder=__('Date of Birth') autocomplete="bday")
        span.placeholder= __('Date of Birth')
        .form-error(:if="birthday && birthdayError")= __('This can’t be right…')

      label.form-checkbox!= __('I’ve read and accept the <a href="$0" target="_blank">Privacy Policy</a> and our <a href="$1" target="_blank">Terms of Service</a>.', config.accounts.privacyPolicy, config.accounts.termsOfUse)
        input(type="checkbox" name="policies" required)
        .control

      .btn-row: button.btn.btn-red.btn-large(type='submit')= __('Create Account')

    include ../_footer
