| Hi #{user.shortName},#{'\n'}

| Welcome to #{config.siteName}! Your teacher #{teacher.shortName} has just created a new account for you. You can sign in using Google, by clicking the link below. We will save your work, personalise our content, and share your progress with your teachers.#{'\n'}

| https://#{config.domain}/login
