extends _template

block preheader
  | Approve your child’s #{config.siteName} account

block body
  h1(style="font-size: 24px;margin:0 0 20px 0") Hi,

  p This email is to let you know that your child just created a #{config.siteName} account with username #[strong= user.username], and provided your email address as their parent or guardian.

  p In order to comply with child privacy laws, we require your consent before your child can use #{config.siteName}. Please have a look at our #[a(href="#{config.accounts.privacyPolicy}") Privacy Policy] and #[a(href="#{config.accounts.termsOfUse}") Terms of Use], and then grant your approval by clicking the link below. If you do not approve, your child’s account will be deactivated in 7 days.

  +button(`https://#{config.domain}/consent/${user.consentToken}`, `Allow my child to use ${config.siteName}`)

  p Alternatively, copy this URL into your browser: https://#{config.domain}/consent/#{user.consentToken}

  p Your child will have a #[em restricted account], which means we will collect no personal information other than their country and date of birth. By approving your child’s account, you agree to our Terms of Use and Privacy Policy.

  p If you believe you received this email in error, you can safely ignore it and we will remove your email address from our system.

  p Please contact us if you have any questions, and thanks for allowing your child to learn with us.

  p: em The #{config.siteName} Team
