| Dear #{user.shortName},#{'\n'}

| We wanted to let you know that #{student.fullName} has just joined your Mathigon class using your unique class code. You can manage your students’ accounts on your #{user.type} dashboard: https://#{config.domain}/dashboard#{'\n'}

| Thanks for using #{config.siteName}!#{'\n'}
