| Hi #{user.shortName},#{'\n'}

| This is a confirmation that the password for your #{config.siteName} account #{user.email} has just been changed.#{'\n'}

| If you changed the password, there’s nothing else to do. If you didn’t change it, please contact us at #{config.accounts.supportEmail}.
