extends _template

block preheader
  | Your #{config.siteName} password has been changed.

block body
  h1(style="font-size: 24px;margin:0 0 20px 0") Hi #{user.shortName},

  p This is a confirmation that the password for your #{config.siteName} account “#{user.email}” has just been changed.

  p If you changed the password, there’s nothing else to do. If you didn’t change it, please <a href="mailto:#{config.accounts.supportEmail}">let us know</a>.
