| Hi #{user.shortName},#{'\n'}

| You recently requested to change the password for your #{config.siteName} account. Please click on the following link, or copy and paste it into your browser: https://#{config.domain}/reset/#{user.passwordResetToken}.#{'\n'}

| If you did not request to change your password, please ignore this email or contact #{config.accounts.supportEmail}. The reset link above is valid for one hour.
