extends _template

block preheader
  | Welcome to #{config.siteName}!

block body
  h1(style="font-size: 24px;margin:0 0 20px 0") Hi #{user.shortName},

  p Welcome to #{config.siteName}! When you’re logged in, we will save your progress data, and personalise the content based on your ability and interests.

  if user.emailVerificationToken
    p To get started, please confirm your email address using this link:
    +button(`https://${config.domain}/confirm/${user.id}/${user.emailVerificationToken}`, "Confirm your email")
    p You can also copy and paste this URL into your browser: https://#{config.domain}/confirm/#{user.id}/#{user.emailVerificationToken}
    p (If you did not create a #{config.siteName} account, you can simply ignore this email, or #[a(href="mailto:#{config.accounts.supportEmail}") let us know].)
  else
    +button(`https://${config.domain}/courses`, "Get Started")
