include _mixins

header
  block logo
    a#logo(href=(user ? '/dashboard' : '/') title=config.siteName)
      != include(config.header.logo)
      if config.header.titleString
        span= config.header.titleString
      else
        != include(config.header.title)

  //- Accessibility Button
  button#skip-nav= __("Skip Navigation")

  nav
    for link in config.header.links
      .nav-item
        a.nav-link(href=link.url)
          x-icon(name=link.icon)
          span.nav-text= __(link.title)

    //- TODO Support search for non-English languages
    if config.search.enabled && locale.id === 'en'
      .nav-item
        button.nav-link.narrow(title=__('Search') data-modal="search")
          x-icon(name="search")

    x-popup(animation="fade").nav-item
      block nav-user-btn
        button.nav-link.narrow.popup-target#login-btn
          if user
            img.nav-user-icon.nav-large(src=user.avatar(56) alt=__('User'))
          else
            x-icon.nav-large(name="user")

      .popup-body
        block nav-user-body
          if config.accounts.enabled
            if user
              a.nav-link(href="/dashboard") #[x-icon(name='dashboard')] #{__('Dashboard')}
              a.nav-link(href="/profile") #[x-icon(name='settings')] #{__('Account Settings')}
            else
              button.nav-link(data-modal="login") #[x-icon(name="login")] #{__('Sign in')}
              a.nav-link(href="/signup") #[x-icon(name='user')] #{__('Create New Account')}
          label.nav-link
            x-icon(name="brightness")
            | #{__('Dark Mode')}
            .form-checkbox
              input.show-labels#dark-mode(type="checkbox")
              .control
          if availableLocales.length > 1
            button.nav-link(data-modal="language")
              x-icon(name="language")
              | #{__('Change Language')}
              img(src=`/images/flags/${locale.flag}.png` width=24 height=24 alt="")
          if user
            a.nav-link(href="/logout") #[x-icon(name='logout')] #{__('Sign out $0', user.fullName)}

if config.search.enabled && locale.id === 'en'
  x-modal#search(class=(req.query.search ? 'open' : undefined))
    .modal-body
      label.form-field
        x-icon(name="search" size=28)
        input(type="text" placeholder=__("Search…") inputmode="search" autocomplete="off" maxlength=50 value=(req.query.search || req.cookies.search || ''))
      .search-body
        include ./search

if availableLocales.length > 1
  +modal('language')
    h2.text-center #[x-icon(name="language" size=32)] #{__('Change Language')}
    .locale-list
      for l in availableLocales
        // TODO Use /hl=de rather than subdomains when running on localhost!
        a.locale-link(href=`https://${l.id === 'en' ? '' : l.id + '.'}${config.domain}${req.path}`)
          img(src=`/images/flags/${l.flag}.png` width=36 height=36 alt="")
          | #{l.name}

if !user && config.accounts.enabled
  +modal('login')
    h2 #[x-icon(name="user" size=32)] #{__('Sign in to $0', config.siteName)}

    if oAuthProviders.length
      .btn-row.social
        for p in oAuthProviders
          a.btn(href=`/auth/${p.id}` class=p.id) #[x-icon(name=p.id)] #{p.name}
      .hr: span= __('or')

    form(method="POST" action="/login")
      input(type="hidden" name="_csrf" value=_csrf)

      label.form-field
        input(type="email" name="email" placeholder=__('Email') required autocomplete="email")
        span.placeholder #{__('Email')}

      label.form-field
        input#password.form-field(type="password" name="password" placeholder=__('Password') minlength="4" required autocomplete="password")
        span.placeholder #{__('Password')}

      p.btn-row
        a(href='/signup') #{__('New Account')}
        | &nbsp; &nbsp; &nbsp;
        a(href='/forgot') #{__('Reset Password')}
        | &nbsp; &nbsp; &nbsp;
        button.btn.btn-red(type="submit") #{__('Sign in')}
