mixin course(id)
  //- progressData is a global variable that contains all student course progress
  - var course = getCourse(id, locale.id)
  - var p = progress ? progress[id] : undefined
  .course(lang=(course.locale !== locale.id ? course.locale : undefined))
    .course-img(style=`background-color: ${course.color}; background-image: url(${course.icon || course.hero});`)
    h3
      | #{course.title}
      if course.locale !== locale.id
        img(src="images/flags/gb.png" width=20 height=20)
    for section in course.sections
      if section.locked && !config.courses.showLocked
        .course-section.locked
          x-icon(name="construction" size=20)
          | #{section.title}
          .tooltip= __('Under construction')
      else
        a.course-section(href=section.url)
          x-progress(r=10 p=(p ? p.getSectionProgress(section) : 0) style=`color: ${course.color}`)
          | #{section.title}

mixin flash(messages)
  if messages.errors
    .alert.fail
      button.close: x-icon(name="close")
      for error in messages.errors
        p!= error
  if messages.info
    .alert
      button.close: x-icon(name="close")
      for info in messages.info
        p= info
  if messages.success
    .alert.success
      button.close: x-icon(name="close")
      for success in messages.success
        p= success

mixin modal(id)
  x-modal(id=id)&attributes(attributes)
    button.close: x-icon(name="close")
    .modal-body
      block
