mixin course(id, myProgress)
  //- progressData is a global variable that contains all student course progress
  - var course = getCourse(id, locale.id)
  - var p = myProgress || (progress ? progress[id] : undefined)
  .course(lang=(course.locale !== locale.id ? course.locale : undefined))
    .course-img(style=`background-color: ${course.color}; background-image: url(${course.icon || course.hero});`)
    h3
      | #{course.title}
      if course.locale !== locale.id
        img(src="images/flags/gb.png" width=20 height=20)
    for section in course.sections
      if section.locked && !config.courses.showLocked
        .course-section.locked
          x-icon(name="construction" size=20)
          | #{section.title}
          .tooltip= __('Under construction')
      else
        a.course-section(href=section.url)
          x-progress(r=10 p=(p ? p.getSectionProgress(section) : 0) style=`color: ${course.color}`)
          | #{section.title}

mixin flash(messages)
  if messages.errors
    .alert.fail
      button.close: x-icon(name="close")
      for error in messages.errors
        p!= error
  if messages.info
    .alert
      button.close: x-icon(name="close")
      for info in messages.info
        p= info
  if messages.success
    .alert.success
      button.close: x-icon(name="close")
      for success in messages.success
        p= success

mixin modal(id)
  x-modal(id=id)&attributes(attributes)
    button.close: x-icon(name="close")
    .modal-body
      block

mixin socialButtons()
  if config.social.twitter
    a.btn.twitter(href=`https://twitter.com/${config.social.twitter.handle}` title="Twitter" target="_blank" rel="noopener")
      x-icon(name="twitter" size=32)
  if config.social.facebook
    a.btn.facebook(href=`https://www.facebook.com/${config.social.facebook.page}/` title="Facebook" target="_blank" rel="noopener")
      x-icon(name="facebook" size=32)
  if config.social.instagram
    a.btn.instagram(href=`https://www.instagram.com/${config.social.instagram.handle}/` title="Instagram" target="_blank" rel="noopener")
      x-icon(name="instagram" size=32)
  if config.social.youtube
    a.btn.youtube(href=`https://www.youtube.com/c/${config.social.youtube.channel}` title="YouTube" target="_blank" rel="noopener")
      x-icon(name="youtube" size=32)
