if config.social.googleClassroom
  a.btn.classroom(title="Classroom" href="https://classroom.google.com/share?url=${url}&title=${title}" target="_blank" rel="noopener")
if config.social.twitter
  a.btn.twitter(title="Twitter" href=("https://twitter.com/intent/tweet?url=${url}&text=${title}&via="+config.social.twitter.handle) target="_blank" rel="noopener")
    x-icon(name="twitter" size=36)
if config.social.facebook
  a.btn.facebook(title="Facebook" href=('https://www.facebook.com/dialog/share?app_id='+config.social.facebook.page+'&display=page&href=${url}') target="_blank" rel="noopener")
    x-icon(name="facebook" size=36)
if config.social.pinterest
  a.btn.pinterest(title="Pinterest" href="https://pinterest.com/pin/create/bookmarklet/?media=${img}&url=${url}&description=${title}" target="_blank" rel="noopener"): x-icon(name="pinterest" size=36)
if config.social.reddit
  a.btn.reddit(title="Reddit" href="https://reddit.com/submit?url=${url}&title=${title}" target="_blank" rel="noopener")
    x-icon(name="reddit" size=36)
button.btn(title=__("Copy to Clipboard") :show="canCopy" @click="copy()"): x-icon(name="link" size=36)

x-alert.success(key="clipboard") #[x-icon(name="check-white" size=24)] #{__('URL copied to clipboard!')}
